@tailwind base;
@tailwind components;
@tailwind utilities;

.ui-alert {
  display: flex;
  position: relative;

  background-color: rgba(50, 100, 150, 0.849);
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 40px 30px rgba(0, 0, 0, 0.4) inset, 0 0 10px 5px rgba(0, 0, 0, 0.5) inset; 
}

.ui-alert-id-stats {
  width: 21em;
  height: 43em;
  padding-top: 2em;
  justify-content: flex-start;
}

.ui-alert-id-login {
  justify-content: center;
  width: 21em;
  height: 13em;
}

.ui-alert-corner {
  display: flex;
  position: absolute;
  width: 5em;
  height: 5em;
  background-image: url('images/corner.png');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(1.4);
}

.ui-alert > .ui-alert-corner:nth-child(1){ 
  bottom: -0.25em;
  right: -0.25em;
  transform: rotate(-180deg);
}

.ui-alert > .ui-alert-corner:nth-child(2){
  top: -0.25em;
  left: -0.25em;
  transform: rotate(-0);
}

.ui-alert > .ui-alert-corner:nth-child(3){
  top: -0.25em;
  right: -0.25em;
  transform:  rotateX(180deg) rotate(-180deg);
}

.ui-alert > .ui-alert-corner:nth-child(4){
  bottom: -0.25em;
  left: -0.25em;
  transform: rotateX(180deg) rotate(0);
}

.ui-alert-title {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 2em;
  text-shadow: 0 0 5px black, 0 0 5px black;
  filter: blur(0.75px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
  font-weight: 600;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(149, 177, 255) 50%, rgba(255, 255, 255, 0) 100%) 1;
}

.ui-alert-title > span {
  font-size: 1.3em;
}

.ui-alert-button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 5px black, 0 0 5px black;
  font-size: 1.25em;
  line-height: 2em;
  filter: blur(0.75px);
  font-weight: 700;
}

.ui-alert-button > span {
  color: rgba(255, 255, 255, 0.75);
}